* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#form-idade,
#idade-output {
  width: 300px;
  margin: 0 auto;
}

#idade-output {
  margin-bottom: 10px;
}

#form-idade div {
  margin-bottom: 6px;
  display: flex;
  flex-direction: column;
}
